@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1> This is Secrety...</h1>  
    
    <ul>
        @foreach (var claim in ((System.Security.Claims.ClaimsPrincipal) User).Claims)
        {
            <li>@claim.Type : @claim.Value</li>
        }
    </ul>
    <div>
        @Html.ActionLink("logout","logout","Login")
    </div>
</div>
</body>
</html>